<?xml version="1.0" encoding="utf-8"?>
<ConfigData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <CountryDataList>
    <CountryData>
      <Name>한국</Name>
      <BankDataList>
        <BankData>
          <Name>국민은행</Name>
        </BankData>
        <BankData>
          <Name>신한은행</Name>
        </BankData>
        <BankData>
          <Name>우리은행</Name>
        </BankData>
        <BankData>
          <Name>하나은행</Name>
        </BankData>
        <BankData>
          <Name>SC제일은행</Name>
        </BankData>
        <BankData>
          <Name>씨티은행</Name>
        </BankData>
        <BankData>
          <Name>NH농협은행</Name>
        </BankData>
        <BankData>
          <Name>IBK기업은행</Name>
        </BankData>
        <BankData>
          <Name>카카오뱅크</Name>
        </BankData>
        <BankData>
          <Name>케이뱅크</Name>
        </BankData>
      </BankDataList>
    </CountryData>
    <CountryData>
      <Name>대만</Name>
      <BankDataList>
        <BankData>
          <Name>台灣銀行</Name>
        </BankData>
        <BankData>
          <Name>國泰世華銀行</Name>
        </BankData>
        <BankData>
          <Name>彰化銀行</Name>
        </BankData>
        <BankData>
          <Name>第一銀行</Name>
        </BankData>
        <BankData>
          <Name>華南銀行</Name>
        </BankData>
        <BankData>
          <Name>郵局</Name>
        </BankData>
        <BankData>
          <Name>兆豐國際商業銀行</Name>
        </BankData>
        <BankData>
          <Name>台北富邦銀行</Name>
        </BankData>
      </BankDataList>
    </CountryData>
    <CountryData>
      <Name>미국</Name>
      <BankDataList>
        <BankData>
          <Name>JPMorgan-Chase</Name>
        </BankData>
        <BankData>
          <Name>Bank of America</Name>
        </BankData>
        <BankData>
          <Name>Wells Fargo</Name>
        </BankData>
        <BankData>
          <Name>Citi</Name>
        </BankData>
        <BankData>
          <Name>U.S. Bank</Name>
        </BankData>
        <BankData>
          <Name>PNC</Name>
        </BankData>
        <BankData>
          <Name>Bank of New York Mellon</Name>
        </BankData>
        <BankData>
          <Name>State Street</Name>
        </BankData>
        <BankData>
          <Name>Capital One</Name>
        </BankData>
        <BankData>
          <Name>TD Bank</Name>
        </BankData>
      </BankDataList>
    </CountryData>
    <CountryData>
      <Name>중국</Name>
      <BankDataList>
        <BankData>
          <Name>工商银行</Name>
        </BankData>
        <BankData>
          <Name>中国银行</Name>
        </BankData>
        <BankData>
          <Name>建设银行</Name>
        </BankData>
        <BankData>
          <Name>农业银行</Name>
        </BankData>
      </BankDataList>
    </CountryData>
  </CountryDataList>
  <LoginList>
    <Login>
      <Id>choe89</Id>
      <Pw>891204</Pw>
    </Login>
    <Login>
      <Id>jjcjy1204</Id>
      <Pw>wodud345!</Pw>
    </Login>
  </LoginList>
</ConfigData>
